{
  "presets": ["@babel/env", "@babel/typescript", "@babel/react"],
  "plugins": [
    "babel-plugin-styled-components",
    "@babel/plugin-transform-runtime",
    "transform-class-properties",
    ["import", { "libraryName": "@material-ui/icons", "libraryDirectory": "esm", "camel2DashComponentName": false }]
  ]
}
